<h1>New gif</h1>

<%= form_for @gif do |f| %>
  <%= f.label :url, "URL" %><br>
  <%= f.text_field :url %><br>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>

  <%= f.submit "Create gif" %>
<% end %>