<h1>New gif</h1>

<% if @gif.errors.any? %>
  <% @gif.errors.full_messages.each do | message| %>
    <p style="color: red"><%= message %></p>
  <% end %>
<% end %>

<%= form_for @gif do |f| %>
  <p>
    <!--<div style="display: inline-block">-->
    <%= f.label :url, "URL" %><br>
      <%= f.text_field :url %>
      <% if @gif.errors[:url] %>
        <p class="error-message"><%= @gif.errors[:url].first %></p>
      <% end %>
    <!--</div>-->
  </p>

  <p style="display: inline-block;">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
      <% if @gif.errors[:title] %>
        <p class="error-message"><%= @gif.errors[:title].first %></p>
      <% end %>
  </p>
  <%= f.submit "Create gif" %>
<% end %>